/*
font weights: 400, 500, 600, 700
*/

:root {
  --primary-color: hsl(0, 100%, 74%);
  --secondary-color: hsl(154, 59%, 51%);
  --accent-color: hsl(248, 32%, 49%);
  --box-shadow: #85568b3e;
}

body {
  padding-right: 200px;
  padding-left: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  background-image: url("images/bg-intro-desktop.png");
}

h1 {
  font-weight: 700;
  color: white;
}

.learn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trial {
  width: 700px;
  height: 50px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  background-color: var(--accent-color);
  text-align: center;
  padding: 10px;
  box-shadow: 0 8px 2px -2px var(--box-shadow);
}

.user-input {
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  width: 700px;
  height: 650px;
  padding: 0 20px 20px 20px;
  box-shadow: 0 8px 2px -2px var(--box-shadow);
}

input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid hsl(246, 25%, 77%);
  margin-bottom: 5px;
}



#submit {
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 2px -2px #40B582;
  margin-top: 40px;
}

.terms {
  color: var(--accent-color);
  font-size: 12px;
  padding-top: 20px;
  text-align: center;
}

strong {
  color: red;
}

.free {
  color: white;
}

.error {
  color: red;
  font-style: italic;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.attribution {
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}